<mat-card>
  <div class="container">
    <div class="webtitle">
      <p class="txcenter">
        <img src="assets/img/icon.png" alt="Weathcy" />
      </p>
      <div class="alert txcenter">
        <h1 matTooltip="Weathcy">Weathcy</h1>
      </div>
    </div>
  </div>
</mat-card>
<div class="container">
  <div class="col-xs-offset-4 col-xs-4">
    <hr />
  </div>
</div>
<div class="container">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="txcenter about">
      <p matTooltip="What is Weathcy?">
        Weathcy is a free online tool that provides users information about
        temperature, humidity, cloudiness, pressure, wind, sunrise and sunset
        time for any locations of the world. Our purpose is to make it easy to
        everybody to access weather related information searching a city name
        instantly.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <hr />
</div>
<div class="container">
  <hr />
</div>
<div class="container">
  <div class="response col-md-8 col-md-offset-2 col-xs-12 txcenter">
    <img
      matTooltip="Fahad Hossain"
      src="assets/img/fahad.jpg"
      alt=""
      class="responsible"
    />
    <div class="title">
      <h2 matTooltip="Web and Mobile Application Developer">Fahad Hossain</h2>
      Web and Mobile Application Developer
    </div>
  </div>
</div>
