<div class="container txcenter four0four">
  <h1 matTooltip="Page Not Found" class="text-404">404</h1>
  <h2>Page Not Found</h2>
  <h3>404 Response From Server.</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <hr />
      <hr />
    </div>
  </div>
</div>
<div class="container">
  <div class="col-xs-10 col-xs-offset-1 txcenter">
    <a
      matTooltip="Got To Weathcy Home"
      routerLink="/"
      class="btn-weather mat-button"
    >
      Weathcy Home
    </a>
  </div>
</div>
