<div class="container txcenter">
	<div class="alert">
		<h1 matTooltip="Contact informations of Weathcy Forum">Get in touch</h1>
	</div>
	<div class="donot col-xs-10 col-xs-offset-1">
    Please do not hesitate to contact us.
  </div>
</div>
<div class="container">
  <div class="col-xs-4 col-xs-offset-4">
    <hr>
  </div>
</div>
<div class="container">
  <div class="contact-item txcenter">
    <div class="contact-media">
      <p>Email</p>
      <a matTooltip="Click for action" class="contact-btn" href="mailto:">Mail now</a>
    </div>
    <img class="invisible-xs" src="assets/img/email.png" alt="">
  </div>
</div>
<div class="container">
  <hr>
</div>
<div class="container">
  <div class="contact-item txcenter">
    <img class="invisible-xs" src="assets/img/phone.png" alt="">
    <div class="contact-media">
      <p>+880 (173) 881-7809</p>
      <a matTooltip="Click for action" class="contact-btn" href="tel:8801738817809">Call now</a>
    </div>
  </div>
</div>